.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.about-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 120px 0 120px;
    justify-content: center;
}

.about-content * {
    width: 50%;
}

.about-content h1 {
    font-size: 2.5rem;
    margin-bottom: 32px;
}

.about-content p {
    font-size: 1.5rem;
}

.about-content a {
    width: 100%;
}

.btn-cv {
    background-color: $orange-1;
    color: $white-1;
    font-size: 1.2rem;
    padding: 8px;
    border-radius: 8px;
    margin-top: 32px;
    cursor: pointer;
}

@media screen and (min-width: 992px) and (max-width: 1024px) {
    .about-content * {
        width: 80%;
    }
    .about-content h1 {
        font-size: 2.3rem;
    }
    
    .about-content p {
        font-size: 1.3rem;
    }
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    .about {
        justify-content: flex-start;
    }
    .about-content * {
        width: 100%;
    }
    .about-content h1 {
        font-size: 5rem;
    }
    
    .about-content p {
        font-size: 1.5rem;
    }

    .btn-cv {
        font-size: 2rem;
        margin-top: 64px;
    }
}