.about {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.about-content {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 120px 0 120px;
    justify-content: center;
}

.about-content * {
    width: 50%;
}

.about-content h1 {
    font-size: $biggest-font-size;
    margin-bottom: 1rem;
}

.about-content a {
    width: 100%;
}

.btn-cv {
    background-color: $orange;
    color: $white;
    font-size: $normal-font-size;
    font-weight: $font-semi-bold;
    padding: 0.5rem;
    border-radius: 0.5rem;
    margin-top: 2rem;
    cursor: pointer;
}

@media #{$screen-tablet} {
    .about-content * {
        width: 80%;
    }
}

@media #{$screen-mobile} {
    .about {
        justify-content: flex-start;
        height: 100%;
    }
    .about-content * {
        width: 100%;
    }
}