.molang3D {
  position: absolute;
  z-index: -1;
  left: 40%;
  top: 50%;
  transform: translate(-50%, -50%);
}

body {
  background: $black-1;
}

.model {
  width: 100%;
  height: 100%;
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: -1;
}

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.home-content {
  display: flex;
  flex-direction: row;
  width: 90%;
  margin: 120px 0 120px;
  justify-content: space-between;
}

.description {
    display: flex;
    flex-direction: column;
    width: 356px;
    color: $white-1;
    margin-bottom: 32px;
    justify-content: center;
}

.description h1 {
    font-size: 128px;
    line-height: 1;
    margin-left: -8px;
}

.description h2 {
  font-size: 32px;
  line-height: 1;
}

.description p {
  font-size: 24px;
  font-weight: 500;
  margin-top: 16px;
}

.competences {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 32px 32px;
  grid-auto-flow: row;
  grid-template-areas:
    "developer developer"
    "designer-ui-ux designer-3d";
}

.developer { grid-area: developer; }

.designer-3d { grid-area: designer-3d; }

.designer-ui-ux { grid-area: designer-ui-ux; }

.competence {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

// ---------------------------------------------------------------------------------------------------------------------
// Media queries
// ---------------------------------------------------------------------------------------------------------------------
@media only screen and (min-width: 320px) and (max-width: 1024px) {
  .molang3D {
    display: none;
  }
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
  .home {
    justify-content: flex-start;
    height: 100%;
  }

  .home-content {
    flex-direction: column;
  }

  .competences {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "developer designer-ui-ux"
      "designer-3d .";
  }
}

@media only screen and (min-width: 320px) and (max-width: 991px){

  .competences {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "developer"
      "designer-ui-ux"
      "designer-3d";
  }
}