.services {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.services-content {
    display: flex;
    flex-direction: row;
    
    flex-wrap: wrap;
    width: 90%;
    margin-top: 120px;
}

// ---------------------------------------------------------------------------------------------------------------------
// Content of the banner section in top of the page
// ---------------------------------------------------------------------------------------------------------------------
.services-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 4rem;
}

// ---------------------------------------------------------------------------------------------------------------------
// Content of the right side of the banner section
// ---------------------------------------------------------------------------------------------------------------------
.services-info-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.services-info-content ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 0.5rem;
}

.services-info-content li {
    margin-right: 0.5rem;
    background-color: $black-darck;
    border-radius: 3.5rem;
    border: 0.0625rem solid $white;
    padding: 0.25rem 1rem;
    margin-bottom: 0.5rem;
    font-size: $normal-font-size;
    font-weight: $font-bold;
}

// ---------------------------------------------------------------------------------------------------------------------
// Content of the left side of the banner section
// ---------------------------------------------------------------------------------------------------------------------
.services-info-indicatif {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;
}

// Content of the available services
.services-info-available {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-bottom: 2rem;
}

.services-info-available>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $black-light;
    padding: 0.25rem 1rem;
    border-radius: 3.5rem;
    margin-bottom: 0.5rem;
}

.services-info-available>div p{
    color: $red;
}

.services-info-available-cercle {
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: solid 0.25rem $red;
    margin-right: 8px;
}

.services-info-available>p {
    margin-right: 1rem;
}

// Content of the services : price and experience
.services-info-price-experience {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-radius: 0.5rem;
    background-color: $black-light;
}

.services-info-price-experience div {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0.5rem 1rem;
}

.services-info-price-experience div:first-child {
    border: solid 1px $white;
    border-radius: 0.5rem 0 0 0.5rem;
}

// ---------------------------------------------------------------------------------------------------------------------
// Content of the left side of the banner section
// ---------------------------------------------------------------------------------------------------------------------
.services-cards {
    display: flex;
    flex-direction: row;
    margin-bottom: 120px;
}

.services-cards .card-service:first-child {
    margin-right: 1rem;
}

// ---------------------------------------------------------------------------------------------------------------------
// Media queries
// ---------------------------------------------------------------------------------------------------------------------
@media #{$screen-tablet} {
    .services {
        justify-content: flex-start;
        height: 100%;
    }

    .services-cards {
        display: flex;
        flex-direction: column;
        margin-bottom: 120px;
    }
    
    .services-cards .card-service:first-child {
        margin-right: 0;
        margin-bottom: 2rem;
    }
}

@media #{$screen-mobile} {
    .services {
        justify-content: flex-start;
        height: 100%;
    }

    .services-cards {
        display: flex;
        flex-direction: column;
        margin-bottom: 120px;
    }
    
    .services-cards .card-service:first-child {
        margin-right: 0;
        margin-bottom: 2rem;
    }
    
    // Content of the banner section in top of the page
    .services-info {
        flex-direction: column;
        margin-bottom: 4rem;
    }
    
    // Content of the right side of the banner section
    .services-info-content {
        margin-bottom: 2rem;
    }

    // Content of the left side of the banner section
    .services-info-indicatif {
        flex-direction: column;
        align-items: flex-start;
    }

    /* Content of the available services */
    .services-info-available {
        align-items: flex-start;
    }

    .services-info-available>p {
        margin-left: 2rem;
    }
}