.works {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 120px;
    margin-bottom: 120px;
}

// Filter
.works-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1rem;
}

.works-filter ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    background-color: $black-light;
    border-radius: 3.5rem;
    padding: 0.25rem 0.5rem;
}

.works-filter li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.25rem 1rem;
}

input[type="radio"] {
    width: 1rem;
    height: 1rem;
    position: relative;
    margin-right: 0.5rem;
}

input[type="radio"]::after {
    content: "";
    position: absolute;
    display: block;
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    background-color: $white;
}

input[type="radio"]:checked::after {
    background-color: $orange;
    width: 0.5rem;
    height: 0.5rem;
    border: 0.25rem solid $white;
}

.works-filter button {
    background-color: $orange;
    padding: 0.25rem 1rem;
    border-radius: 3.5rem;
    color: $white;
    font-size: $normal-font-size;
    font-weight: $font-semi-bold;
    cursor: pointer;
}


// Card project
.works-card-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

@media #{$screen-mobile} {
    // Filter
    .works-filter {
        position: relative;
    }

    .works-filter ul {
        justify-content: center;
        border-radius: 56px;
        padding: 8px 16px;
    }

    .works-filter button {
        padding: 8px 32px;
        border-radius: 56px;
        margin-top: 16px;
        position: absolute;
        left: 50%;
        top: 100%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }
}