.works {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.works-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap: wrap;
    width: 90%;
    margin-top: 120px;
    margin-bottom: 120px;
}

// Filter
.works-filter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 16px;
}

.works-filter ul {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    background-color: $black-2;
    border-radius: 56px;
    padding: 4px 8px;
}

.works-filter li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 4px 16px;
}

input[type="radio"] {
    width: 16px;
    height: 16px;
    position: relative;
    margin-right: 8px;
}

input[type="radio"]::after {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: $white-1;
}

input[type="radio"]:checked::after {
    background-color: $orange-1;
    width: 8px;
    height: 8px;
    border: 4px solid $white-1;
}

.works-filter button {
    background-color: $orange-1;
    padding: 4px 16px;
    border-radius: 56px;
    cursor: pointer;
}

// Card project
.works-card-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

@media only screen and (min-width: 320px) and (max-width: 991px) {
    // Filter
    .works-filter {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 16px;
        position: relative;
    }

    .works-filter h4 {
        font-size: 1.5rem;
    }

    .works-filter ul {
        justify-content: center;
        border-radius: 56px;
        padding: 8px 16px;
    }

    .works-filter li {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 8px 32px;
    }

    input[type="radio"] {
        width: 44px;
        height: 44px;
        margin-right: 8px;
    }

    input[type="radio"]::after {
        width: 44px;
        height: 44px;
    }

    input[type="radio"]:checked::after {
        width: 28px;
        height: 28px;
        border: 8px solid $white-1;
    }

    .works-filter button {
        padding: 8px 32px;
        border-radius: 56px;
        margin-top: 16px;
        position: absolute;
        left: 50%;
        top: 150%;
        transform: translate(-50%, -50%);
        z-index: 100;
    }

    .works-filter button h4 {
        font-size: 2rem;
    }
}