.card-competence {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

// Border img
.card-competence-img {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $black-2;
    border-radius: 12px;
    transition: all 0.3s ease-in-out;
}

// Border img Hover
.card-competence-img-hover {
    border-radius: 8px;
    margin: 4px;
    border-color: $white-2;
}

// img
.card-competence-img-img {
    border: 4px solid $black-2;
    border-radius: 8px;
    margin: 8px;
    width: 180px;
    height: 140px;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

// img Hover
.card-competence-img-img-hover {
    width: 172px;
    height: 132px;
    margin: 4px;
}

// Card text
.card-competence-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: $black-2;
    border-radius: 8px;
    width: 180px;
    padding: 8px;
    margin-top: 16px;
    position: relative;
}

// Decoration text
.card-competence-text::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    background: $white-1;
    border-radius: 8px;
    position: absolute;
    top: 0px;
    left: 50%;
    right: 50%;
    transform: translate(-50% , -50%);
}

.card-competence-text::after {
    content: '';
    display: block;
    width: 32px;
    height: 2px;
    background: $white-1;
    border-radius: 8px;
    position: absolute;
    top: 0px;
    left: 50%;
    right: 50%;
    transform: translate(-50% , -50%);
}

// --------------------------------------------------------------
// Media Queries
// --------------------------------------------------------------

@media only screen and (min-width: 320px) and (max-width: 991px) {
    // Border img Hover
    .card-competence-img-hover {
        border-radius: 8px;
        padding: 8px;
    }

    // Border img
    .card-competence-img {
        width: 90%;
        height: 80%;
    }
    
    // Border img Hover
    .card-competence-img-hover {
        border-radius: 8px;
        margin: 4px;
    }
    
    // img
    .card-competence-img-img {
        margin: 8px;
        width: 100%;
        height: 100%;
    }
    
    // img Hover
    .card-competence-img-img-hover {
        margin: 0px;
    }
    
    // Card text
    .card-competence-text {
        width: 80%;
        padding: 16px;
    }
}