.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 2rem;
    z-index: 998;
}

nav {
    background: $black-light;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 80%;
    padding: 0.25rem 0.75rem;
    border-radius: 3.5rem;
}

// Font
nav a, nav button {
    color: $white;
    font-size: 1rem;
    font-weight: 700;
}

// Logo
.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 0.125rem solid $white;
}

// Logo defaut color
#svg-logo-stroke {
    fill: $white;
}

#svg-logo-bg {
    fill: $orange;
}

// Logo not active
.logo #svg-logo-bg {
    fill: $black-darck;
}


// Logo active
.logo.active {
    border: none;
}

.logo.active #svg-logo-bg {
    fill: $orange;
}

// Menu
nav ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 1rem;
}

// Come in soon in V2 with the button contact
/* nav li:last-child {
    margin-left: 2rem;
} */

nav li {
    padding: 0.5rem;
}

// Contact
.btn-contact {
    padding: 0.25rem 1.5rem;
    color: $white;
    background: none;
    border: solid 0.125rem $white;
    border-radius: 3.5rem;
    cursor: pointer;
}

.active .btn-contact {
    background: $orange;
    border: solid 0.125rem $orange;
}

// Menu Mobile
.btn-menu {
    display: none;
}

// Menu active
.active::before {
    content: '';
    position: absolute;
    background: $orange;
    width: 0.25rem;
    height: 0.25rem;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: 0;
    border-radius: 0.5rem;
}

nav li {
    position: relative;
}

.logo.active::before {
    display: none;
}




// --------------------------------------------------------------
// Media Queries
// --------------------------------------------------------------

@media #{$screen-mobile} {
    nav {
        background: none;
        justify-content: space-between;
        max-width: 100%;
        width: 90%;
        padding: 0.25rem 0px;
        position: relative
    }

    // Font
    nav a, nav button {
        font-size: 1.25rem;
    }
    
    // Logo
    /* .no #svg-logo-bg {
        fill: $orange;
    }

    .no #svg-logo-stroke {
        stroke: $orange;
    } */

    // Menu
    nav ul {
        flex-direction: column;
        align-items: flex-start;
        padding: 0.75rem;
        background: $black-light;
        border-radius: 0.5rem;
        position: absolute;
        right: 0;
        top: 4rem
    }

    nav li:last-child {
        margin-left: 0;
        /* margin-top: 1rem; */
    }

    // Contact
    /* .btn-contact {
        background: $orange;
        border: solid 0.125rem $orange;
    } */

    // Menu mobile
    .btn-menu {
        display: block;
        background: none;
    }

    .btn-menu svg {
        width: 2rem;
        height: 2rem;
    }

    #svg-menu-bg {
        fill: $black-light;
    }

    #svg-menu-stroke {
        fill: $white;
    }
}